h1 {
    position: absolute;
    width: 946px;
    height: 138px;
    left: 288px;
    top: 107px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 69px;
    text-align: center;
    
    color: #FFFFFF;

}

.fundo {

    position: absolute;
    width: 1000px;
    height: 357px;
    left: 200px;
    top: 434px;
    
    
    background: #CA7900;
    border-radius: 40px;

}

img {
    position: absolute;
    width: 164px;
    height: 110px;
    left: 450px;
    top: -50px;


}



body {

position: relative;
width: 100px;
height: 900px;

background: rgba(0, 0, 0, 0.84);

}

p {

    position: absolute;
    width: 528px;
    height: 53px;
    left: 270px;
    top: 100px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

.btn-sim {

        box-sizing: border-box;

        position: absolute;
        width: 225px;
        height: 76px;
        left: 455px;
        top: 650px;

        background: #CA8500;
        border: 9px solid #F5F5F5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        font-weight: 600;
        font-size: 25px;
        cursor: pointer;
       

}

.btn-nao{

    box-sizing: border-box;
    position: absolute;
    width: 222px;
    height: 76px;
    left: 761px;
    top: 650px;

    background: #CA8500;
    border: 9px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;

    


}